__pycache__
.env
env
pdf_data
scraping
vector_store
store_datat_pinecon.py
upload_pdfs_example_pinecone.py
data
test_json_txt_upload.py
8021

# nohup uvicorn app:app --host 0.0.0.0 --port 8021 --workers 4 > app.log 2>&1 &